#site-name {
  color: white;
  font-size: 88;
}

div#bar {
  width: 940px;
  margin: 0px auto;
  padding: 15px;
}

h1, #by{
  margin-bottom: 20px;
}

#by {
  margin-top: -20px;
  font-size: 14px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

pre {
  font-family: monospace, 'Bitstream Vera Sans Mono', 'Courier'
  font-size: 12.025px;
}

.b {
  font-weight: bold;
  color: black;
}

.str {
  color: #D14
}

.cl {
  font-weight: bold;
  color: #458
}

.mc {
  font-weight: bold;
  color: #900;
}

.at {
  color: teal;
}

.cm {
  color: #998
}

#pageshare {
	height: 32px;
	overflow: hidden;
}

.sbutton {
	display: inline-block;
  overflow: hidden;
  width: 76px;
}

.twitter {
	margin-left: 22px;
  position: relative;
  top: 3px;
}

.plusone {
	margin-left: 28px;
  position: relative;
  top: 7px;
}
